/* Write your CSS here */
.suggestion-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.suggestion {
  color: #475569;
  font-family: 'Roboto';
  font-size: 18px;
}

.arrow-icon {
  width: 30px;
  height: 30px;
}
